<!DOCTYPE html>
<html>
  <%- include('./layout/head') %>
  <body class="container-fluid">
    <!-- main Row -->
    <div class="">
      <div class="">
        <div class="">
          <!-- Main Header -->
          <%- include('./layout/main-head') %> 
          <!-- NavBar -->
          <%- include('./layout/navbar') %> 
          <hr>
          <!-- Render pages -->
          <%- include(`./pages/${page}`) %>
        </div>
        <hr>
        <div class="col-sm-12 bar">
        </div>
      </div> <!-- end main row -->
    </div>
    <!-- end main Row -->
    <%- include('./layout/footer') %>

  </body>
</html>