<div class="row">

  <div class="col">
    <div class="">
      <ul class="list-group">
        <% provsWithDengueAndZika.map(prov => { %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= prov.provincia %>
            <div>
              <span class="badge badge-warning badge-pill">Casos de Dengue: <%= prov.totalDengue ? prov.totalDengue : 0 %></span>
              <span class="badge badge-primary badge-pill">Casos de Zika: <%= prov.totalZika ? prov.totalZika : 0 %></span>
            </div>
          </li>
        <% }) %>     
      </ul>
    </div>
  </div>

  <div class="col">
    <!-- Some text here -->
    <h1>Total Dengue: <%= totalDengue %> </h1>
    <h1>Total Zika: <%= totalZika %> </h1>
    <h1>Total provincias afectadas: <%= allProvinces.length %> </h1>
  </div>

</div>