<div class="row">
  <div class="col-sm-12 col-md-6">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Provincia</th>
          <th scope="col">Zika</th>
          <th scope="col">Dengue</th>
        </tr>
      </thead>
      <tbody>
        <% provsWithDengueAndZika.map((prov, key) => { %>
          <tr>
            <th scope="row"><%= key+1 %></th>
              <td>                
                <a class="unselectable">
                  <%= prov.provincia %>
                </a>
                <span class="badge badge-info badge-pill">
                  <small>
                    <a href="<%= prov.provincia %>/total_deps_dengue_zika" class="anchor-prov">Ver mas</a>
                  </small>
                </span>
              </td>
            <td>
              <span class="badge badge-primary badge-pill">
                <%= prov.totalZika ? prov.totalZika : 'Sin' %>
                <%= (prov.totalZika ? prov.totalZika : 0) == 1 ? 'Caso' : 'Casos' %>
              </span>
            </td>
            <td>
              <span class="badge badge-warning badge-pill">
                <%= prov.totalDengue ? prov.totalDengue : 'Sin' %> 
                <%= (prov.totalDengue ? prov.totalDengue : 0) == 1 ? 'Caso' : 'Casos' %>
              </span>
            </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  </div>

  <div class="col-sm-12 col-md-6">
    <!-- Some text here -->
    
    <div class="">
      <div class="ml-3">
        <h3><span class="badge bg-info text-white">Total Dengue: <%= totalDengue %></span></h3>
        <h3><span class="badge bg-info text-white">Total Zika: <%= totalZika %></span></h3>
        <h3><span class="badge bg-info text-white">Total provincias afectadas: <%= allProvinces.length %></span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="row">

          <div class="col chart-container" style="position: relative; height:20vh; width:20vw">
            <div class="text-center">
              <p>
                <h2 class=""><span class="badge bg-warning">Dengue</span></h2>
              </p>
            </div>
            <canvas id="myChartDengue"></canvas>
          </div>

          <div class="col chart-container" style="position: relative; height:20vh; width:20vw">
              <div class="text-center">
                <p>
                  <h2 class=""><span class="badge bg-primary text-white">Zika</span></h2>
                </p>
              </div>
              <canvas id="myChartZika"></canvas>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let provinces = [];
  let provinces_ = [];
  let provincesWithInfo = [];
  let totalDengue = 0;
  let totalZika = 0;
  let colors = [
  '#1c3321',
  '#f58f0a',
  '#4996c9',
  '#00f539',
  '#0b355e',
  '#5e0b0b',

  '#1c3321',
  '#f58f0a',
  '#4996c9',
  '#00f539',
  '#0b355e',
  '#5e0b0b',

  // Change for add more provs
  '#1c3321',
  '#f58f0a',
  '#4996c9',
  '#00f539',
  '#0b355e',
  '#5e0b0b',

  '#1c3321',
  '#f58f0a',
  '#4996c9',
  '#00f539',
  '#0b355e',
  '#5e0b0b',
]

  axios.get('http://localhost:3000/api/provs_with_dengue_and_zika_cases').then(response => {
    provincesWithInfo = response.data;
    provinces = response.data.map(prov => prov.totalDengue > 0 ? prov.provincia : null).filter(item => item !== null);
    provinces_ = response.data.map(prov => prov.totalZika > 0 ? prov.provincia : null).filter(item => item !== null);
  }).then(() => {
    const data2 = {
      labels: provinces_,
      datasets: [{
        label: 'My Second Dataset',
        data: provincesWithInfo.map(prov => prov.totalZika > 0 ? prov.totalZika : null).filter(item => item !== null),
        backgroundColor: colors,
        hoverOffset: 4
      }]
    };
    
    let ctx = document.getElementById('myChartZika').getContext('2d');
    let myChartZika = new Chart(ctx, {
      type: 'doughnut',
      data: data2,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });  
  }).then(() => {
    const dataProv = provincesWithInfo.map(prov => prov.totalDengue > 0 ? prov.totalDengue : null).filter(item => item !== null);
    const data = {
      labels: provinces,
      datasets: [{
        label: 'My First Dataset',
        data: dataProv,
        backgroundColor: colors.slice(dataProv.length),
        hoverOffset: 4
      }]
    };

    let ctx = document.getElementById('myChartDengue').getContext('2d');
    let myChartDengue = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  })

</script>
