<div class="row">
  <div class="col">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Provincia</th>
          <th scope="col">Zika</th>
          <th scope="col">Dengue</th>
        </tr>
      </thead>
      <tbody>
        <% provsWithDengueAndZika.map((prov, key) => { %>
          <tr>
            <th scope="row"><%= key+1 %></th>
            <td><%= prov.provincia %></td>
            <td><span class="badge badge-primary badge-pill">Casos: <%= prov.totalZika ? prov.totalZika : 0 %></span></td>
            <td><span class="badge badge-warning badge-pill">Casos: <%= prov.totalDengue ? prov.totalDengue : 0 %></span></td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  </div>



<!--
  <div class="col">
    <div class="">
      <ul class="list-group">
        <% provsWithDengueAndZika.map(prov => { %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= prov.provincia %>
            <div>
              <span class="badge badge-warning badge-pill">Casos de Dengue: <%= prov.totalDengue ? prov.totalDengue : 0 %></span>
              <span class="badge badge-primary badge-pill">Casos de Zika: <%= prov.totalZika ? prov.totalZika : 0 %></span>
            </div>
          </li>
        <% }) %>     
      </ul>
    </div>
  </div>
-->
  <div class="col">
    <!-- Some text here -->
    <div>
      <h1>Total Dengue: <%= totalDengue %> </h1>
      <h1>Total Zika: <%= totalZika %> </h1>
      <h1>Total provincias afectadas: <%= allProvinces.length %> </h1>
    </div>
    <div class="chart-container" style="position: relative; height:20vh; width:20vw">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>